<div
  class="bg-primary-300 lg:bg-transparent pt-6 px-6 pb-3 rounded-lg lg:px-8 lg:pt-12"
>
  <div>
    <h3 class="text-white text-sm font-semibold uppercase tracking-wide">
      Basic
    </h3>
    <div
      class="flex flex-col items-start sm:flex-row sm:items-center sm:justify-between lg:flex-col lg:items-start"
    >
      <div class="mt-3 flex items-center">
        <p class="text-white text-4xl font-extrabold tracking-tight">
          1.4 Juta
        </p>
        <div class="ml-4">
          <p class="text-white text-sm">IDR</p>
          <p class="text-gray-200 text-sm">Garansi 365 hari</p>
        </div>
      </div>
      <a
        href="#"
        class="bg-white text-gray-600 hover:bg-gray-50 mt-6 w-full inline-block py-2 px-8 border border-transparent rounded-md shadow-sm text-center text-sm font-medium sm:mt-0 sm:w-auto lg:mt-6 lg:w-full"
        >Order Paket Basic</a
      >
    </div>
  </div>
  <h4 class="sr-only">Fitur Utama</h4>
  <ul
    role="list"
    class="border-gray-500 divide-gray-500 divide-opacity-75 mt-7 border-t divide-y lg:border-t-0"
  >
    <li class="py-3 flex items-center">
      <!-- Heroicon name: solid/check -->
      <svg
        class="text-gray-200 w-5 h-5 flex-shrink-0"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
          clip-rule="evenodd"></path>
      </svg>
      <span class="text-white ml-4 text-sm font-medium"
        >Akses login dashboard web</span
      >
    </li>

    <li class="py-3 flex items-center">
      <!-- Heroicon name: solid/check -->
      <svg
        class="text-gray-200 w-5 h-5 flex-shrink-0"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
          clip-rule="evenodd"></path>
      </svg>
      <span class="text-white ml-4 text-sm font-medium"
        >Copywriting / sales letter</span
      >
    </li>

    <li class="py-3 flex items-center">
      <!-- Heroicon name: solid/check -->
      <svg
        class="text-gray-200 w-5 h-5 flex-shrink-0"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
          clip-rule="evenodd"></path>
      </svg>
      <span class="text-white ml-4 text-sm font-medium"
        >Optimasi SEO On Page</span
      >
    </li>
  </ul>
</div>
