---
import Layout from "../layouts/Layout.astro";
import ThumbsDownIcon from "../components/icons/ThumbsDownIcon.astro";
import Header from "../components/Header.astro";
import Paragraph from "../components/Paragraph.astro";
import Caption from "../components/Caption.astro";
import Feature from "../sections/Feature.astro";
import Testimonial from "../sections/Testimonial.astro";
import ExampleLandingPage from "../sections/ExampleLandingPage.astro";
import ExamplePageSpeed from "../sections/ExamplePageSpeed.astro";
import SectionWrapper from "../components/SectionWrapper.astro";
import FeatureItem from "../components/FeatureItem.astro";
import LatestTestimonial from "../sections/LatestTestimonial.astro";
import SectionFaq from "../components/SectionFaq";
import Pricing from "../components/Pricing.astro";
import ArrowRightIcon from "../components/icons/ArrowRightIcon.astro";
import CheckBadgeIcon from "../components/icons/CheckBadgeIcon.astro";
---

<Layout title="Welcome to Astro.">
  <main class="bg-primary-500">
    <section class="max-w-5xl mx-auto space-x-4 h-screen flex justify-center">
      <div class="flex flex-row items-center justify-center">
        <div>
          <img
            class="rounded-xl w-[300px]"
            src="https://satulisan.com/wp-content/uploads/2022/08/testi-jasa-buat-landing-page-sunufarid-new.png?v=1660989566"
            alt="Testi moni"
          />
        </div>
        <div class="w-10"></div>
        <div class="flex space-y-5 flex-col max-w-md">
          <p class="text-lg text-secondary-200 tracking-wider font-medium">
            Cari jasa landing page murah?
          </p>
          <p class="text-5xl text-secondary-200 leading-tight font-extrabold">
            Halo, saya Ali, spesialis jasa pembuatan landing page WordPress HIGH
            conversion
          </p>
          <p class="text-xl text-secondary-200">
            Mau saya bantu <span class="font-bold">dongkrak penjualan Anda</span
            > lewat landing page <span class="font-bold">persuasif</span> ?
          </p>
          <a
            href="#"
            class="bg-secondary-200 text-primary w-fit text-center p-3 px-6 rounded-lg text-xl font-bold w-min whitespace-nowrap"
            >Saya mau dibantu</a
          >
        </div>
      </div>
    </section>
    <section class="bg-secondary-100 py-8">
      <div class="max-w-4xl mx-auto space-y-6">
        <Header>Merasa sedang alami masalah ini ?</Header>
        <ul class="text-gray-400 space-y-4 text-2xl w-full">
          <li class="flex flex-row space-x-2 font-normal pb-3 items-center">
            <ThumbsDownIcon />
            <span class="border-b border-primary-50">
              Ingin naikkan omset penjualan online, tapi bingung gimana caranya?
            </span>
          </li>
          <li class="flex flex-row space-x-2 font-normal pb-3 items-center">
            <ThumbsDownIcon />
            <span class="border-b border-primary-50">
              Butuh landing page buat jualan, tapi gak punya waktu untuk
              bikinnya?
            </span>
          </li>
          <li class="flex flex-row space-x-2 font-normal pb-3 items-center">
            <ThumbsDownIcon />
            <span class="border-b border-primary-50">
              Ingin punya LP penjualan konversi tinggi, tapi gak ngerti cara
              buatnya?
            </span>
          </li>
          <li class="flex flex-row space-x-2 font-normal pb-3 items-center">
            <ThumbsDownIcon />
            <span class="border-b border-primary-50">
              Nyobain bikin LP sendiri, tapi malah pusing saat menulis
              copywriting?
            </span>
          </li>
          <li class="flex flex-row space-x-2 font-normal pb-3 items-center">
            <ThumbsDownIcon />
            <span class="border-b border-primary-50">
              Udah gonta-ganti copywriting di LP, tetap aja rugi & boncos
              iklannya?
            </span>
          </li>
        </ul>
      </div>
      <div class="max-w-4xl mx-auto space-y-6 mt-8">
        <Header>Tenang, saya juga sama dengan Anda</Header>
        <Paragraph>
          Sampai akhirnya selama 3 tahun terakhir saya fokus ngulik dan riset
          hingga menemukan formula dan struktur LP yang optimal + stabil
          menghasilkan konversi.
        </Paragraph>
        <Paragraph>
          Gak tanggung-tanggung, saya nekat mempraktekkan hasil ngulik tersebut
          ke bisnis saya : jasa landing page murah. Hasilnya ? SatuLisan jadi
          satu-satunya creator landing page dengan testimoni positif dan
          portofolio LP terbanyak di Indonesia. Izin Allah.
        </Paragraph>
        <Paragraph>
          Jadi, saya akan bantu memperbesar potensi kenaikan omset bisnis Anda,
          lewat landing page yang PERSUASIF, agar pemasaran online Anda lebih
          optimal.
        </Paragraph>
      </div>
      <div class="max-w-4xl mx-auto space-y-6 mt-8">
        <div class="flex flex-row space-x-9">
          <img
            class="rounded-xl w-[400px]"
            src="https://satulisan.com/wp-content/uploads/2022/08/testi-jasa-buat-landing-page-mkholis-new.png"
            alt="Testimoni 2"
          />
          <div class="flex flex-col">
            <Header>Ya. Kunci utamanya adalah Persuasif</Header>
            <div class="space-y-4 text-gray-400 text-2xl leading-9 pt-4">
              <Paragraph>
                Sekeren apapun LP Anda, sepanjang apapun copywritingnya, kalo
                <span class="font-bold text-gray-500">gagal MEMPERSUASI</span> orang
                yang baca, LP Anda <span class="font-bold text-gray-500"
                  >gagal</span
                > menghasilkan konversi.
              </Paragraph>
              <Paragraph>
                Menurut KBBI & Wikipedia, persuasi adalah <span
                  class="font-bold text-gray-500">meyakinkan</span
                > harapan orang, <span class="font-bold text-gray-500"
                  >mengajak</span
                > orang dengan alasan yang baik agar mereka mau <span
                  class="font-bold text-gray-500"
                  >melakukan sesuatu yang Anda mau</span
                >.
              </Paragraph>
              <Paragraph>
                Apa jadinya kalo copywriting LP Anda <b class="text-gray-500"
                  >TIDAK</b
                >
                persuasif ? Ya <b class="text-gray-500">BONCOS</b>.
              </Paragraph>
            </div>
          </div>
        </div>
        <Caption>Salah satu testimoni dari client</Caption>
      </div>
      <div class="max-w-4xl mx-auto space-y-6 mt-6">
        <Header>Makanya, saya buka jasa landing page</Header>
        <div class="space-y-4">
          <Paragraph>
            SatuLisan hadir untuk UKM, freelancer, dan pebisnis lainnya. Saya
            yang buatkan landing page, Anda fokus aja ke bisnis dan strategi
            Digital Marketingnya.
          </Paragraph>
          <Paragraph>
            Saya akan bantu dongkrak omset bisnis Anda lewat landing page yang
            persuasif sehingga punya kemampuan tinggi mengkonversi traffic jadi
            leads.
          </Paragraph>
          <Paragraph>
            Leads tersebut yang selanjutnya Anda follow up sampai closing. Kalau
            gak closing-closing gimana ? CS Anda perlu dievaluasi, hehe.
          </Paragraph>
        </div>
      </div>
      <Testimonial />
    </section>
    <section>
      <Feature />
    </section>
    <section class="bg-secondary-100">
      <ExampleLandingPage />
      <ExamplePageSpeed />
      <div class="max-w-4xl mx-auto space-y-6 mt-6">
        <Header>Kenapa pakai jasa buat landing page ?</Header>
        <div class="space-y-6">
          <ul class="space-y-2">
            <li class="border-b border-primary-50 pb-3">
              <Paragraph
                >Hasil jadi landing page Anda lebih optimal karena dikerjakan
                ahlinya.</Paragraph
              >
            </li>
            <li class="border-b border-primary-50 pb-3">
              <Paragraph
                >Anda gak perlu buang waktu berhari-hari cuma mikirin
                copywriting LP.</Paragraph
              >
            </li>
            <li class="border-b border-primary-50 pb-3">
              <Paragraph>
                Anda punya banyak waktu fokus ke bisnis dan meracik strategi
                penjualan.
              </Paragraph>
            </li>
          </ul>
          <Paragraph>
            Akhirnya, gabungan teknik promosi online + LP persuasif + skill
            closing CS yang baik, akan menghasilkan potensi omset tak terbatas
            untuk bisnis Anda. Masuk akal ?
          </Paragraph>
        </div>
      </div>
    </section>
    <section class="bg-secondary-100 py-8">
      <SectionWrapper>
        <Header color="text-primary-500"
          >LP Anda didukung theme & plugin Premium</Header
        >
        <div class="space-y-6">
          <FeatureItem
            title="FREE Theme GeneratePress"
            desc="Theme WordPress minimalis, struktur kodenya clean dan pastinya ringan, ya GeneratePress juaranya. Load speed LP jadi ngebut."
            image="https://satulisan.com/wp-content/uploads/2020/12/generatepress-icon.png"
          />
          <FeatureItem
            title="FREE Plugin Speed WP Rocket"
            desc="Salah satu rahasia lain jasa web landing page SatuLisan bisa bikin LP Anda jadi super ngebut saat diakses ya karena plugin keren ini."
            image="https://satulisan.com/wp-content/uploads/2020/12/icon-wprocket.png"
          />
          <FeatureItem
            title="FREE Plugin Elementor Pro"
            desc="Semua LP pelanggan saya dibuat pake Elementor. Jadi selain sales letter yang persuasif, tampilan LP Anda juga lebih elegan."
            image="https://satulisan.com/wp-content/uploads/2020/12/elementor-icon.png"
          />
        </div>
      </SectionWrapper>
    </section>
    <section class="bg-primary">
      <Pricing />
    </section>
    <section class="bg-secondary-100 py-8">
      <SectionWrapper>
        <Header>Atau Anda butuh jenis jasa lainnya ?</Header>
        <div class="grid grid-cols-2">
          <div class="space-y-3">
            <div class="flex flex-row items-center space-x-2 text-primary-500">
              <ArrowRightIcon />
              <Paragraph>Hanya butuh copywriting saja ?</Paragraph>
            </div>
            <div class="flex flex-row items-center space-x-2 text-primary-500">
              <ArrowRightIcon />
              <Paragraph>Butuh konten LP bahasa Inggris ?</Paragraph>
            </div>
            <div class="flex flex-row items-center space-x-2 text-primary-500">
              <ArrowRightIcon />
              <Paragraph>Butuh website company profile ?</Paragraph>
            </div>
          </div>
          <div class="space-y-3">
            <div class="flex flex-row items-center space-x-2 text-primary-500">
              <ArrowRightIcon />
              <Paragraph>Butuh web company profile + LP ?</Paragraph>
            </div>
            <div class="flex flex-row items-center space-x-2 text-primary-500">
              <ArrowRightIcon />
              <Paragraph>Integrasi Google ads tag ke GTM ?</Paragraph>
            </div>
            <div class="flex flex-row items-center space-x-2 text-primary-500">
              <ArrowRightIcon />
              <Paragraph>Mau custom CTA ke form order ?</Paragraph>
            </div>
          </div>
        </div>
        <Paragraph
          >Tidak ada masalah. Diskusikan aja ke saya detail kebutuhan Anda.</Paragraph
        >
        <div
          class="px-5 py-3 bg-primary rounded-lg transform hover:scale-115 transition-all w-min whitespace-nowrap"
        >
          <a href="#" class="text-secondary-100 font-semibold text-2xl"
            >Saya mau diskusi dulu</a
          >
        </div>
      </SectionWrapper>
    </section>
    <section class="bg-secondary-100 py-8 mt-6">
      <SectionWrapper>
        <LatestTestimonial />
        <Header>Keunggulan jasa landing page SatuLisan</Header>
        <ul class="text-2xl space-y-3 text-gray-400">
          <li>
            <div class="flex flex-row space-x-4 items-center">
              <div class="w-6 h-6">
                <CheckBadgeIcon />
              </div>
              <Paragraph
                >Landing page Anda dikerjakan praktisi yang biasa jualan pakai
                LP.</Paragraph
              >
            </div>
          </li>
          <li>
            <div class="flex flex-row space-x-4 items-center">
              <div class="w-6 h-6">
                <CheckBadgeIcon />
              </div>
              <Paragraph
                >Yang saya tawarkan adalah paket lengkap. Copywriting persuasif,
                load time super cepat, tampilan profesional dan pelayanan
                menyenangkan. LP.</Paragraph
              >
            </div>
          </li>
          <li>
            <div class="flex flex-row space-x-4 items-center">
              <div class="w-6 h-6">
                <CheckBadgeIcon />
              </div>
              <Paragraph
                >Anda dapat FULL AKSES. Login akun tempat beli domain & hosting,
                login cPanel & web. Gak ada satupun aset digital Anda yang
                "nyangkut" di saya.</Paragraph
              >
            </div>
          </li>
          <li>
            <div class="flex flex-row space-x-4 items-center">
              <div class="w-6 h-6">
                <CheckBadgeIcon />
              </div>
              <Paragraph
                >Testimoni dan portofolio landing page asli milik pelanggan
                SatuLisan. Bukan dummy. Jadi Anda bisa pastikan kualitas
                pembuatan landing page saya.</Paragraph
              >
            </div>
          </li>
          <li>
            <div class="flex flex-row space-x-4 items-center">
              <div class="w-6 h-6">
                <CheckBadgeIcon />
              </div>
              <Paragraph
                >Anda akan mendapat pengalaman terbaik saat berdiskusi dengan
                saya membahas detail kebutuhan Anda, sebelum berlanjut ke proses
                pemesanan.</Paragraph
              >
            </div>
          </li>
        </ul>
      </SectionWrapper>
    </section>
    <section class="bg-secondary-100 py-8">
      <SectionWrapper>
        <Header>Saya sendiri yang mengerjakan LP Anda</Header>
        <Paragraph
          >Saya Ali, owner SatuLisan. Kalau Anda mencari kualitas, cocok pakai
          jasa saya.</Paragraph
        >
        <Paragraph
          >Landing page buatan saya adalah hasil riset, analisa, dan pengalaman
          saya selama 3+ tahun mengerjakan 300++ landing page berbagai produk
          dan jasa.</Paragraph
        >
        <Paragraph
          >Selain soal landing page, Anda juga bisa berdiskusi dengan saya
          terkait SEO, email marketing, advertising, dan hal-hal terkait Digital
          Marketing lainnya.</Paragraph
        >
        <div class="flex flex-row space-x-3">
          <div
            class="px-5 py-3 bg-primary rounded-lg transform hover:scale-105 transition-all w-min whitespace-nowrap"
          >
            <a href="#" class="text-secondary-100 font-semibold text-2xl"
              >Order LP sekarang juga</a
            >
          </div>
          <div
            class="px-5 py-3 bg-primary rounded-lg transform hover:scale-105 transition-all w-min whitespace-nowrap"
          >
            <a href="#" class="text-secondary-100 font-semibold text-2xl"
              >Saya mau diskusi dulu</a
            >
          </div>
        </div>
      </SectionWrapper>
    </section>
    <section class="bg-dark-200">
      <SectionWrapper>
        <Header>Pertanyaan umum calon pelanggan</Header>
        <div class="pt-4 pb-10">
          <SectionFaq client:only="react" />
        </div>
      </SectionWrapper>
    </section>
    <section class="bg-secondary-100 py-8 mt-8">
      <SectionWrapper>
        <Header>SatuLisan, jasa landing page terbaik ?</Header>
        <Paragraph
          >Mungkin Anda merasa, cara saya menulis penawaran di LP ini berbeda
          dari jasa pembuatan landing page lainnya. Saya sedang bercerita apa
          adanya.</Paragraph
        >
        <Paragraph
          >Inilah rahasia kenapa web landing page SatuLisan konversinya tinggi,
          hingga akhirnya punya testimoni & portofolio terbanyak se-Indonesia.
          Alhamdulillah.</Paragraph
        >
        <Paragraph
          >Anda sudah baca LP saya sejauh ini. So, tunggu apalagi ?</Paragraph
        >
        <div class="flex flex-row space-x-3">
          <div
            class="px-5 py-3 bg-primary rounded-lg transform hover:scale-105 transition-all w-min whitespace-nowrap"
          >
            <a href="#" class="text-secondary-100 font-semibold text-2xl"
              >Oke, saya mau order</a
            >
          </div>
          <div
            class="px-5 py-3 bg-primary rounded-lg transform hover:scale-105 transition-all w-min whitespace-nowrap"
          >
            <a href="#" class="text-secondary-100 font-semibold text-2xl"
              >Saya mau diskusi dulu</a
            >
          </div>
        </div>
      </SectionWrapper>
    </section>
    <footer class="max-w-4xl mx-auto pt-8">
      <i class="font-sm text-white"
        >2019 – 2022 © SatuLisan – Jualan santai tapi efektif</i
      >
    </footer>
  </main>
</Layout>
