---
export interface Props {
  color?: string;
}
const { color } = Astro.props;
const classes = (...classes) => classes.join("").toString();
---

<h1 class={classes("font-bold text-[43px] pt-8 ", color ?? "text-red-300")}>
  <slot />
</h1>
