---
export interface Props {
  color?: string;
}
const { color } = Astro.props;
const classes = (...classes) => classes.filter(Boolean).join(" ");
---

<h1
  class={classes(
    "text-4xl font-extrabold tracking-tight sm:text-5xl pt-8 ",
    color ?? "text-primary"
  )}
>
  <slot />
</h1>
