---
export interface Props {
  color?: string;
}
const { color } = Astro.props;
const classes = (...classes) => classes.filter(Boolean).join(" ");
---

<p class={classes("text-2xl leading-9", color ?? "text-gray-400")}>
  <slot />
</p>
