---
import Header from "../components/Header.astro";
import ExampleLandingSwiper from "../components/ExampleLandingSwiper";
import Caption from "../components/Caption.astro";
---

<div class="max-w-4xl mx-auto space-y-6 mt-6">
  <Header>Makanya, saya buka jasa landing page</Header>
  <div class="space-y-4">
    <ExampleLandingSwiper client:only="react" />
    <Caption>
      Chat saya untuk lihat link asli semua portofolio LP pelanggan.
    </Caption>
  </div>
</div>
