---
import Header from "../components/Header.astro";
import FeatureItem from "../components/FeatureItem.astro";
---

<div class="max-w-4xl mx-auto space-y-6 my-6 pb-8">
  <Header color="text-secondary-200"
    >Fiturnya pas, gak kurang gak berlebihan</Header
  >
  <div class="pt-4">
    <div class="grid grid-cols-2 gap-y-10 gap-x-2 text-secondary-200">
      <FeatureItem
        title="Domain & Hosting"
        desc="Saya buatkan copywriting yang bikin orang mau segera order."
        image="https://satulisan.com/wp-content/uploads/2020/12/earth-globe.png"
      />
      <FeatureItem
        title="Konten Persuasif"
        desc="Saya buatkan copywriting yang bikin orang mau segera order."
        image="https://satulisan.com/wp-content/uploads/2020/12/invoices.png"
      />
      <FeatureItem
        title="Desain Premium"
        desc="Ada 99+ desain landing page PRO yang bebas Anda pilih."
        image="https://satulisan.com/wp-content/uploads/2020/12/icon-tema.png"
      />
      <FeatureItem
        title="Lacak Pengunjung"
        desc="Terintegrasi ke Analytics, Search Console dan FB / TikTok Pixel."
        image="https://satulisan.com/wp-content/uploads/2020/12/icon-tracker.png"
      />
      <FeatureItem
        title="Pondasi Optimal"
        desc="Saya optimalkan pengaturan On Site dan On Page LP Anda."
        image="https://satulisan.com/wp-content/uploads/2020/12/medal.png"
      />
      <FeatureItem
        title="Optimasi Tambahan"
        desc="Saya install plugin tambahan untuk dongkrak performa LP."
        image="https://satulisan.com/wp-content/uploads/2020/12/icon-plugin.png"
      />
      <FeatureItem
        title="Custom CTA"
        desc="Mau ke WA, form daftar, form order canggih, bisa-bisa saja."
        image="https://satulisan.com/wp-content/uploads/2022/01/click.png"
      />
      <FeatureItem
        title="Mobile Responsive"
        desc="Tampilan LP Anda pada versi mobile akan dioptimalkan."
        image="https://satulisan.com/wp-content/uploads/2022/01/responsive.png"
      />
      <FeatureItem
        title="Akses Ngebut"
        desc="Saya optimasi LP Anda agar super cepat saat diakses."
        image="https://satulisan.com/wp-content/uploads/2020/12/rise.png"
      />
      <FeatureItem
        title="Full Support"
        desc="Selama LP Anda online, Anda berhak dapat support saya."
        image="https://satulisan.com/wp-content/uploads/2020/12/faqq.png"
      />
    </div>
  </div>
</div>
