---
import Header from "../components/Header.astro";
import Paragraph from "../components/Paragraph.astro";
import TestimoniSwiper from "../components/TestimoniSwiper";
---

<div class="max-w-4xl mx-auto space-y-6 mt-6">
  <Header>Apa komentar pengguna jasa saya ?</Header>
  <div>
    <Paragraph
      >Semanis apapun penjelasan saya, Anda lebih percaya kata konsumen kan ?</Paragraph
    >
    <div class="pt-2">
      <TestimoniSwiper client:only="react" />
    </div>
  </div>
</div>
